<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pa" class="com.dbs.beans.Point">
        <property name="x" value="15"/>
        <property name="y" value="13"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>


    <bean id="pointA" class="com.dbs.beans.Point">
        <property name="x" value="10"/>
        <property name="y" value="20"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="pointB" class="com.dbs.beans.Point">
        <property name="x" value="12"/>
        <property name="y" value="15"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="pointC" class="com.dbs.beans.Point">
        <property name="x" value="20"/>
        <property name="y" value="19"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>
<bean class="com.dbs.beans.Triangle" id="triangle" scope="prototype">
    <constructor-arg name="pointA" ref="pointA"/>
    <constructor-arg name="pointB" ref="pointB"/>
    <constructor-arg name="pointC" ref="pointC"/>

</bean>


    <!-- more bean definitions go here -->
</beans>